-e .
mock;python_version<="2.7"
futures;python_version<="2.7"
httpretty>=0.8.10
coverage<5.0.0
pytest
pytest-cov
pytest-asyncio;python_full_version>="3.5.2"
mypy;python_full_version>="3.5.2"
pylint
aiohttp;python_full_version>="3.5.2"
# async in msrest was experimental, we won't update
trio==0.14.0;python_version == '3.5'
trio==0.16.0;python_version >= '3.6'
types-requests
