[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", extras = ["async"], editable = true}

[dev-packages]
pytest = "*"
pytest-cov = "==2.8.1"
coverage = "<5.0.0"
pytest-asyncio = {version = "*", markers="python_version >= '3.5'"}
httpretty = ">=0.8.10"
mock = {version = "*", markers="python_version <= '2.7'"}
futures = {version = "*", markers="python_version <= '2.7'"}
mypy = {version = "==0.630", markers="python_version > '2.7'"}
pylint = "*"
trio = {version = "*", markers="python_version >= '3.5'"}
